*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.content {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-right: 30px;
  margin-left: 30px;

  max-height: 534px;
}
.result {
  padding-top: 78px;
}
.result__video-container {
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
}
.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.search-form {
  display: flex;

  justify-content: space-between;
  align-items: center;
}
.search-form__fieldset {
  border: none;
}
.search-form__fieldset-title {
  font-weight: 400;

  font-size: 18px;
}
.search-form__label {
  display: flex;
  align-items: center;
  gap: 5px;
  width: fit-content;
}


.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__label:has(.search-form__checkbox:focus-visible) {
  outline: 1px solid #ffffff;
  outline-offset: 2px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}
.search-form__textfield {
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  background: transparent;
  appearance: none;
  font-size: 18px;
  min-width: 225px;
  color: rgba(255, 255, 255, 0.7);
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}

.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  border: 1px solid #fff;
  padding: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 19px;
  height: 19px;
}

.search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.button {
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
  font-size: 18px;
  padding: 10px 20px;
  cursor: pointer;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__submit-button {
  align-self: flex-end;
  width: 194px;
  height: 34px;
}
.content__details {
  display: flex;
  flex-direction: column;
  gap: 22px;
}
.title {
  font-family: Oswald;
  font-weight: 700;
  font-style: normal;
  font-size: 75px;

  line-height: 94%;
  letter-spacing: 0%;
  text-transform: uppercase;
}
.content__accent {
  color: #545050;
}
.content__list-container {
  gap: 30px;
  overflow-y: auto;
  /* overflow-x: hidden; */
}
.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__list-item {
  padding-left: 3px;
  padding-right: 3px;
}
.content__card-link {
  display: block;
  text-decoration: none;
  color: #fff;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #ffffff;
  outline-offset: 0;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  align-items: start;
}
.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.content__video-card-title {
  font-family: Oswald;
  font-weight: 700;
  font-style: normal;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 196px;
}
.content__video-card-description {
  font-family: Fira Sans Condensed;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 16.2px;
  letter-spacing: 0%;
  line-clamp: 2;
}
.content__video-card-thumbnail {
  max-width: 194px;
  max-height: 103px;
  object-fit: cover;
  object-position: center;
}

.more-button {
  width: 100%;
  height: 34px;
  margin-top: 30px;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 100%;
}

.result__video-container,
.content__list-container {
  position: relative;
}
